<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<body>

</body>
<footer th:fragment="footer">
    <div class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Training note</h5>
                    <p class="grey-text text-lighten-4">You can save your progress and improve your body.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">Main</a></li>
                        <li><a class="grey-text text-lighten-3" href="/new">New training</a></li>
                        <li><a class="grey-text text-lighten-3" href="/bmi">Calculate BMI</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
            </div>
        </div>
    </div>
</footer>
</html>