<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<body>

</body>
<nav th:fragment="header" class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/trainings" class="brand-logo">Training diary</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/trainings">Main </a></li>
            <li><a href="/trainings/new">New training </a></li>
            <li><a href="/bmi">Calculate BMI</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
</html>