<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

<nav th:replace="fragments/header :: header"></nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Calculate BMI</h1>
        <form class="row center" th:object="${newBmi}" th:action="@{/bmi}" method="post">
                <label for="weight">Weight</label>
                <input type="text" id="weight" th:field="*{weight}">
            <p class="alert alert-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" ></p>
                <label for="height">Height</label>
                <input type="text" id="height" th:field="*{height}">
                <input type="submit" class="btn btn-primary" value="Calculate">

            <h1 th:text="${'Your BMI: '+result}" th:if="${result!=null}"></h1><br><br>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>