<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Moje treningi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="../static/style.css" type="text/css" />

    <style>
        a:visited
        {
            text-decoration: none;
            color: #efefef;
        }
        a:link
        {
            text-decoration: none;
            color: #efefef;
        }
        body
        {
            background-color: #2F3336;
            color: #efefef;
        }
    </style>
</head>
<body>
<div style="text-align: center;	text-transform: uppercase;letter-spacing: 5px;background-color: #2F3336; color: #efefef;margin: 0;padding: 20px" class="logo">
    <h1>Dziennik treningowy</h1>
</div>
<div style="background-color: #1c74b2; text-align: center;" class="top-nav">
    <ul style="list-style-type: none; font-size: 20px; font-weight: bold;color: #efefef;text-decoration: none;" class="menu">
        <li style="display: inline-block; border-right: 1px dashed #0a2b42;padding: 15px;border-left: 1px dashed #0a2b42;"><a href="/all">Strona główna </a></li>
        <li style="display: inline-block; border-right: 1px dashed #0a2b42;padding: 15px;"><a href="/new">Nowy trening</a></li>
    </ul>
</div>

<div style="margin: 50px; " id="training" >
    <h1>Moje treningi</h1>
    <div style="width: 300px ; margin: 10px;border: 3px solid #1c74b2; border-radius: 10px; display: inline-block; padding: 10px" th:each="training : ${training2}">
        <h3 style="margin-top: 10px" th:text="${training.id+'# '+training.trainingDate}"></h3>
    <div  >
        <ul th:each="exercise : ${exercises}">
        </li>
         <li th:text="${exercise.name+': '+exercise.weight +'kg, '+exercise.set+' serie, '+exercise.rep +' powtórzeń'}"></li>
        </ul>
        <a th:href="@{/edit/{id}(id=${training.id})}" class="waves-effect waves-light btn-small">Edytuj</a>
        <a th:href="@{/delete/{id}(id=${training.id})}" class="waves-effect waves-light btn-small">Usuń</a>
        <a th:href="@{/add-exercise/{id}(id=${training.id})}" class="waves-effect waves-light btn-small">Dodaj ćwiczenie</a>
        </div>
    </div>
</div>
</div>
</body>

</html>
