<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Moje treningi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="../static/style.css" type="text/css"/>

    <style>
        a:visited {
            text-decoration: none;
            color: #efefef;
        }
    </style>
</head>
<body>

<nav th:replace="fragments/header :: header"></nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Moje treningi</h1>
        <a href="/new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        <form class="row center">
            <div class="row" th:each="user : ${appUsers.get().getTrainings()}">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" th:text="${user.trainingDate}">Card Title</span>
                            <ul th:each="exercise : ${user.getExercises()}">
                                <li th:text="${exercise.name}"></li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/idTraining(idTraining=${user.id})}" class="btn btn-danger">
                                <span class="glyphicon-info-sign glyphicon"/></span> Details</a>
                            <a th:href="@{/add-exercise/{id}(id=${user.id})}" class="btn btn-danger">
                                <span class="glyphicon-info-sign glyphicon"/></span> Add exercise</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



<footer th:replace="fragments/footer :: footer"></footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</div>
</body>

</html>
