<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container">
<section class="login-page">
    <h2 class="header center orange-text">Login page</h2>
    <div class="col s10">
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password"/>
        </div>

        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Login</button>
        </div>
    </form>
    </div>
</section>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>