<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Moje treningi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<nav th:replace="fragments/header :: header"></nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text" th:text="${training.trainingDate}">My trainings</h1>
        <a th:href="@{/trainings/add-exercise/{id}(id=${training.id})}" class="waves-effect waves-light btn-small">Add exercise</a>
        <a th:href="@{/trainings/edit/{id}(id=${training.id})}" class="waves-effect waves-light btn-small">edit</a>
        <a th:href="@{/trainings/delete/{id}(id=${training.id})}" class="waves-effect waves-light btn-small">delete</a>
        <div class="row center">

            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="exercise : ${training.getExercises()}">
                    <td th:text="${exercise.name}">Alvin</td>
                    <td th:text="${exercise.weight}">Alvin</td>
                    <td th:text="${exercise.set}">Alvin</td>
                    <td th:text="${exercise.rep}">Alvin</td>
                    <td ><a th:href="@{/trainings/edit-exercise/{id}(id=${exercise.id})}" class="waves-effect waves-light btn-small">Edit</a></td>
                    <td ><a th:href="@{/trainings/delete-exercise/{id}(id=${exercise.id})}" class="waves-effect waves-light btn-small">Delete</a></td>

                </tr>
                </tbody>
            </table>
            <a href="/trainings" class="waves-effect waves-light btn-small">return</a>

    </div>
</div>




    <footer th:replace="fragments/footer :: footer">


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>


</body>

</html>
